.add-record{
    font-family: Montserrat;
    .card-body{
        width: 600px;
     
    }
     label{
         padding-right: 10px;
     }
     button {
         background-color: #007A77;
         color: white;
     }
}